<div class="jumbotron">
  <h1 class="display-4">{{ note.title }} </h1>
  <p class="lead">{{ note.content }}</p>
  <hr class="my-4">
  <p> Created on {{ note.creation_date }}, last edited {{ human_readable_delta(note.edit_date) }} ago.</p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('edit', note_id=note.id) }}" role="button">Edit</a>
  <a class="btn btn-primary btn-lg" href="{{ url_for('delete', note_id=note.id) }}" role="button">Delete</a>
  {% if note.is_public %}
      <input type="text"  value="{{ request.host_url[:-1] + url_for('shared', uuid=note.uuid) }}" readonly/>
  {% endif %}
</div>