{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    {% if current_user.is_anonymous %}
        <p>Please login or register to write awesome notes !</p>
    {% else %}
        <h1>Hi, {{ current_user.first_name }}!</h1>
        <div>
        {% if notes %}
            {% for note in notes %}
            <p>{{ note.author.first_name }} says: <b>{{ note.content }}</b></p>
            {% endfor %}
        {% else %}
            <p>You haven't written any notes yet!</p>
        {% endif %}
        </div>
    {% endif %}

{% endblock %}