{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    {% if current_user.is_anonymous %}
        <h3>Please login or register to write awesome notes !</h3>
    {% else %}
        <h1>Hi, {{ current_user.first_name }} ! </h1>
        <h3> Need to write a new note ? <a href="{{ url_for('new') }}">Click here</a>.</h3>
        <hr>

        <div>
            <h1>Your notes :</h1>
        {% if notes %}
            {% for note in notes %}
                {% include 'display_note.html' %}
            {% endfor %}
        {% else %}
           <h3> You haven't written any notes yet ! </h3>
        {% endif %}
        </div>
    {% endif %}

{% endblock %}